h1 {
    font-size: 45px;
    text-align: center
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
    
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #E5B9CC;
}

body {
    background-color: #B6E5D2;
}
