h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}
    
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu1 li a {
    background-color: none;
    font-size: 60px;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px 8px 0 0;
}

ul#menu2 li a {
    background-color: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px 8px 0 0;
}

ul#menu li a:hover {
    background-color: none;
}

body {
    text-align: center;
    background-color: #2E4D49;
}

#page-wrap {
    text-align: left;
     width: 800px;
     margin: 0 auto;
}
